body {
  background-color: #000;
  color: #fff;
  font-family: Impact, Charcoal, sans-serif;
}

.container {
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #2A629A;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; 
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 
    -1px -1px 0 #2A629A,  
     1px -1px 0 #2A629A,
    -1px  1px 0 #2A629A,
     1px  1px 0 #2A629A; 
  
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

a:hover {
  color: #2A629A;
  border-bottom-color: #fff;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

th {
  background-color: #2A629A;
  color: black;
  text-transform: uppercase;
  border: 2px solid white; 
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; 
}

td {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black; 
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2A629A;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; 
}

.btn:hover {
  background-color: #fff;
  color: #2A629A;
}

.btn:active {
  transform: translateY(1px);
}