<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trabajo final Arquitectura</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Trabajo Final </h1>
    <p>Realizado por Jhon Alejandro Velez!</p>
    <a href="https://github.com/jhonvelez997/-Trabajo-Final" class="btn">Codigo</a>
  </div>


  <div class="container">
    <h1>API Endpoints</h1>
    <table>
      <tr>
        <th>Endpoint</th>
        <th>Arguments</th>
        <th>Examples</th>
      </tr>
      <tr>
        <td>RATE_TOP20</td>
        <td>year:int, genre:str</td>
        <td><a href="https://test.itwerks.cc/RATE_TOP20?year=2000">https://test.itwerks.cc/RATE_TOP20?year=2000</a> | <a href="https://test.itwerks.cc/RATE_TOP20?genre=drama">https://test.itwerks.cc/RATE_TOP20?genre=drama</a> | <a href="https://test.itwerks.cc/RATE_TOP20?genre=drama&year=1993">https://test.itwerks.cc/RATE_TOP20?genre=drama&year=1993</a></td>
      </tr>
      <tr>
        <td>RATE_BOTTOM20</td>
        <td>year:int, genre:str</td>
        <td><a href="https://test.itwerks.cc/RATE_BOTTOM20?year=2000">https://test.itwerks.cc/RATE_BOTTOM20?year=2000</a> | <a href="https://test.itwerks.cc/RATE_BOTTOM20?genre=drama">https://test.itwerks.cc/RATE_BOTTOM20?genre=drama</a> | <a href="https://test.itwerks.cc/RATE_BOTTOM20?genre=drama&year=1993">https://test.itwerks.cc/RATE_BOTTOM20?genre=drama&year=1993</a></td>
      </tr>
      <tr>
        <td>COUNT_TOP20</td>
        <td>year:int, genre:str</td>
        <td><a href="https://test.itwerks.cc/COUNT_TOP20?year=2000">https://test.itwerks.cc/COUNT_TOP20?year=2000</a> | <a href="https://test.itwerks.cc/COUNT_TOP20?genre=drama">https://test.itwerks.cc/COUNT_TOP20?genre=drama</a> | <a href="https://test.itwerks.cc/COUNT_TOP20?genre=drama&year=1993">https://test.itwerks.cc/COUNT_TOP20?genre=drama&year=1993</a></td>
      </tr>
      <tr>
        <td>MOVIE</td>
        <td>movie:str</td>
        <td><a href="https://test.itwerks.cc/MOVIE?movie=american%20beauty">https://test.itwerks.cc/MOVIE?movie=american beauty</a></td>
      </tr>
      <tr>
        <td>LISTBYGENDER</td>
        <td>gender:str</td>
        <td><a href="https://test.itwerks.cc/LISTBYGENDER?gender=comedy">https://test.itwerks.cc/LISTBYGENDER?gender=comedy</a></td>
      </tr>
      <tr>
        <td>SUGGEST</td>
        <td>genero:str, edad:int</td>
        <td><a href="https://test.itwerks.cc/SUGGEST?genero=F">https://test.itwerks.cc/SUGGEST?genero=F</a> | <a href="https://test.itwerks.cc/SUGGEST?edad=43">https://test.itwerks.cc/SUGGEST?edad=43</a> | <a href="https://test.itwerks.cc/SUGGEST?edad=43&genero=M">https://test.itwerks.cc/SUGGEST?edad=43&genero=M</a></td>
      </tr>
    </table>
  </div>

</body>
</html>
